-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mafia_game
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `_prisma_migrations`
--

DROP TABLE IF EXISTS `_prisma_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `_prisma_migrations` (
  `id` varchar(36) NOT NULL,
  `checksum` varchar(64) NOT NULL,
  `finished_at` datetime(3) DEFAULT NULL,
  `migration_name` varchar(255) NOT NULL,
  `logs` text DEFAULT NULL,
  `rolled_back_at` datetime(3) DEFAULT NULL,
  `started_at` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `applied_steps_count` int(10) unsigned NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `_prisma_migrations`
--

LOCK TABLES `_prisma_migrations` WRITE;
/*!40000 ALTER TABLE `_prisma_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `_prisma_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `action_cooldowns`
--

DROP TABLE IF EXISTS `action_cooldowns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `action_cooldowns` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `actionType` varchar(50) NOT NULL,
  `lastUsedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `action_cooldowns_playerId_actionType_key` (`playerId`,`actionType`),
  KEY `action_cooldowns_playerId_idx` (`playerId`),
  KEY `action_cooldowns_actionType_idx` (`actionType`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `action_cooldowns`
--

LOCK TABLES `action_cooldowns` WRITE;
/*!40000 ALTER TABLE `action_cooldowns` DISABLE KEYS */;
INSERT INTO `action_cooldowns` VALUES (1,2,'travel','2026-01-30 15:50:58.190','2026-01-29 21:00:32.952','2026-01-30 15:50:58.190'),(2,2,'crime','2026-02-07 15:07:37.656','2026-01-30 06:49:32.004','2026-02-07 15:07:37.656'),(3,2,'job','2026-02-07 15:08:19.802','2026-01-30 06:53:17.155','2026-02-07 15:08:19.802'),(4,15,'crime','2026-02-08 06:53:46.945','2026-02-03 15:48:16.375','2026-02-08 06:53:46.945'),(5,15,'job','2026-02-08 06:53:56.706','2026-02-03 15:50:21.672','2026-02-08 06:53:56.706');
/*!40000 ALTER TABLE `action_cooldowns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `passwordHash` varchar(255) NOT NULL,
  `role` enum('SUPER_ADMIN','MODERATOR','VIEWER') NOT NULL DEFAULT 'VIEWER',
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `lastLoginAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `admins_username_key` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
INSERT INTO `admins` VALUES (1,'admin','$2b$10$LI2UVTOMdfgs5wEwSdfgsu395vYu31IP2ogKh2kwNrUd3EcaCHBgK','SUPER_ADMIN',1,'2026-02-03 17:45:47.892','2026-02-03 18:18:01.750','2026-02-03 18:18:01.742'),(2,'denny','$2b$10$lWjFML2xHg7srXyww2G14eMZtfhize4ykvD6C.kwZN7k1Tc/nkURC','SUPER_ADMIN',1,'2026-02-09 04:43:17.059','2026-02-09 05:29:24.538','2026-02-09 05:29:24.537');
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aircraft`
--

DROP TABLE IF EXISTS `aircraft`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aircraft` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `aircraftType` varchar(50) NOT NULL,
  `fuel` int(11) NOT NULL DEFAULT 0,
  `maxFuel` int(11) NOT NULL,
  `isBroken` tinyint(1) NOT NULL DEFAULT 0,
  `totalFlights` int(11) NOT NULL DEFAULT 0,
  `purchasePrice` int(11) NOT NULL,
  `purchasedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `aircraft_playerId_idx` (`playerId`),
  KEY `aircraft_aircraftType_idx` (`aircraftType`),
  CONSTRAINT `aircraft_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aircraft`
--

LOCK TABLES `aircraft` WRITE;
/*!40000 ALTER TABLE `aircraft` DISABLE KEYS */;
/*!40000 ALTER TABLE `aircraft` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ammo_inventory`
--

DROP TABLE IF EXISTS `ammo_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ammo_inventory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `ammoType` varchar(50) NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ammo_inventory_playerId_ammoType_key` (`playerId`,`ammoType`),
  KEY `ammo_inventory_playerId_idx` (`playerId`),
  CONSTRAINT `ammo_inventory_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=38 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ammo_inventory`
--

LOCK TABLES `ammo_inventory` WRITE;
/*!40000 ALTER TABLE `ammo_inventory` DISABLE KEYS */;
INSERT INTO `ammo_inventory` VALUES (1,2,'9mm',129);
/*!40000 ALTER TABLE `ammo_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `audit_logs`
--

DROP TABLE IF EXISTS `audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audit_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `adminId` int(11) NOT NULL,
  `action` varchar(100) NOT NULL,
  `targetType` varchar(50) DEFAULT NULL,
  `targetId` varchar(100) DEFAULT NULL,
  `details` text DEFAULT NULL,
  `ipAddress` varchar(45) DEFAULT NULL,
  `userAgent` varchar(255) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `audit_logs_adminId_idx` (`adminId`),
  KEY `audit_logs_action_idx` (`action`),
  KEY `audit_logs_createdAt_idx` (`createdAt`),
  CONSTRAINT `audit_logs_adminId_fkey` FOREIGN KEY (`adminId`) REFERENCES `admins` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `audit_logs`
--

LOCK TABLES `audit_logs` WRITE;
/*!40000 ALTER TABLE `audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `aviation_licenses`
--

DROP TABLE IF EXISTS `aviation_licenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `aviation_licenses` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `licenseType` varchar(50) NOT NULL DEFAULT 'basic',
  `purchasePrice` int(11) NOT NULL,
  `issuedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `aviation_licenses_playerId_key` (`playerId`),
  KEY `aviation_licenses_playerId_idx` (`playerId`),
  CONSTRAINT `aviation_licenses_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `aviation_licenses`
--

LOCK TABLES `aviation_licenses` WRITE;
/*!40000 ALTER TABLE `aviation_licenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `aviation_licenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bank_accounts`
--

DROP TABLE IF EXISTS `bank_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank_accounts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `balance` int(11) NOT NULL DEFAULT 0,
  `interestRate` double NOT NULL DEFAULT 0.05,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `bank_accounts_playerId_key` (`playerId`),
  KEY `bank_accounts_playerId_idx` (`playerId`),
  CONSTRAINT `bank_accounts_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bank_accounts`
--

LOCK TABLES `bank_accounts` WRITE;
/*!40000 ALTER TABLE `bank_accounts` DISABLE KEYS */;
/*!40000 ALTER TABLE `bank_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `casino_ownerships`
--

DROP TABLE IF EXISTS `casino_ownerships`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `casino_ownerships` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `casinoId` varchar(100) NOT NULL,
  `ownerId` int(11) NOT NULL,
  `purchasePrice` int(11) NOT NULL,
  `bankroll` int(11) NOT NULL DEFAULT 0,
  `totalReceived` int(11) NOT NULL DEFAULT 0,
  `totalPaidOut` int(11) NOT NULL DEFAULT 0,
  `purchasedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `casino_ownerships_casinoId_key` (`casinoId`),
  KEY `casino_ownerships_ownerId_idx` (`ownerId`),
  CONSTRAINT `casino_ownerships_ownerId_fkey` FOREIGN KEY (`ownerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `casino_ownerships`
--

LOCK TABLES `casino_ownerships` WRITE;
/*!40000 ALTER TABLE `casino_ownerships` DISABLE KEYS */;
/*!40000 ALTER TABLE `casino_ownerships` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `casino_transactions`
--

DROP TABLE IF EXISTS `casino_transactions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `casino_transactions` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `casinoId` varchar(100) NOT NULL,
  `ownerId` int(11) NOT NULL,
  `gameType` varchar(50) NOT NULL,
  `betAmount` int(11) NOT NULL,
  `payout` int(11) NOT NULL DEFAULT 0,
  `ownerCut` int(11) NOT NULL DEFAULT 0,
  `result` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`result`)),
  `rngSeed` varchar(255) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `casino_transactions_playerId_idx` (`playerId`),
  KEY `casino_transactions_casinoId_idx` (`casinoId`),
  KEY `casino_transactions_ownerId_idx` (`ownerId`),
  KEY `casino_transactions_createdAt_idx` (`createdAt`)
) ENGINE=InnoDB AUTO_INCREMENT=39 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `casino_transactions`
--

LOCK TABLES `casino_transactions` WRITE;
/*!40000 ALTER TABLE `casino_transactions` DISABLE KEYS */;
/*!40000 ALTER TABLE `casino_transactions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_ammo_inventory`
--

DROP TABLE IF EXISTS `crew_ammo_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_ammo_inventory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `ammoType` varchar(50) NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crew_ammo_inventory_crewId_ammoType_key` (`crewId`,`ammoType`),
  KEY `crew_ammo_inventory_crewId_idx` (`crewId`),
  CONSTRAINT `crew_ammo_inventory_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_ammo_inventory`
--

LOCK TABLES `crew_ammo_inventory` WRITE;
/*!40000 ALTER TABLE `crew_ammo_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_ammo_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_ammo_storage_buildings`
--

DROP TABLE IF EXISTS `crew_ammo_storage_buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_ammo_storage_buildings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `style` enum('camping','rural','city','villa') NOT NULL DEFAULT 'camping',
  `level` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crew_ammo_storage_buildings_crewId_key` (`crewId`),
  CONSTRAINT `crew_ammo_storage_buildings_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_ammo_storage_buildings`
--

LOCK TABLES `crew_ammo_storage_buildings` WRITE;
/*!40000 ALTER TABLE `crew_ammo_storage_buildings` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_ammo_storage_buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_boat_inventory`
--

DROP TABLE IF EXISTS `crew_boat_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_boat_inventory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `vehicleId` varchar(100) NOT NULL,
  `condition` int(11) NOT NULL DEFAULT 100,
  `fuelLevel` int(11) NOT NULL DEFAULT 100,
  `stolenInCountry` varchar(50) DEFAULT NULL,
  `addedByPlayerId` int(11) NOT NULL,
  `addedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `crew_boat_inventory_crewId_idx` (`crewId`),
  CONSTRAINT `crew_boat_inventory_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_boat_inventory`
--

LOCK TABLES `crew_boat_inventory` WRITE;
/*!40000 ALTER TABLE `crew_boat_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_boat_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_boat_storage_buildings`
--

DROP TABLE IF EXISTS `crew_boat_storage_buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_boat_storage_buildings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `style` enum('camping','rural','city','villa') NOT NULL DEFAULT 'camping',
  `level` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crew_boat_storage_buildings_crewId_key` (`crewId`),
  CONSTRAINT `crew_boat_storage_buildings_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_boat_storage_buildings`
--

LOCK TABLES `crew_boat_storage_buildings` WRITE;
/*!40000 ALTER TABLE `crew_boat_storage_buildings` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_boat_storage_buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_car_inventory`
--

DROP TABLE IF EXISTS `crew_car_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_car_inventory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `vehicleId` varchar(100) NOT NULL,
  `condition` int(11) NOT NULL DEFAULT 100,
  `fuelLevel` int(11) NOT NULL DEFAULT 100,
  `stolenInCountry` varchar(50) DEFAULT NULL,
  `addedByPlayerId` int(11) NOT NULL,
  `addedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `crew_car_inventory_crewId_idx` (`crewId`),
  CONSTRAINT `crew_car_inventory_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_car_inventory`
--

LOCK TABLES `crew_car_inventory` WRITE;
/*!40000 ALTER TABLE `crew_car_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_car_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_car_storage_buildings`
--

DROP TABLE IF EXISTS `crew_car_storage_buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_car_storage_buildings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `style` enum('camping','rural','city','villa') NOT NULL DEFAULT 'camping',
  `level` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crew_car_storage_buildings_crewId_key` (`crewId`),
  CONSTRAINT `crew_car_storage_buildings_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_car_storage_buildings`
--

LOCK TABLES `crew_car_storage_buildings` WRITE;
/*!40000 ALTER TABLE `crew_car_storage_buildings` DISABLE KEYS */;
INSERT INTO `crew_car_storage_buildings` VALUES (1,5,'villa',0,'2026-02-08 15:23:13.097','2026-02-08 15:23:13.097');
/*!40000 ALTER TABLE `crew_car_storage_buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_cash_storage_buildings`
--

DROP TABLE IF EXISTS `crew_cash_storage_buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_cash_storage_buildings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `style` enum('camping','rural','city','villa') NOT NULL DEFAULT 'camping',
  `level` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crew_cash_storage_buildings_crewId_key` (`crewId`),
  CONSTRAINT `crew_cash_storage_buildings_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_cash_storage_buildings`
--

LOCK TABLES `crew_cash_storage_buildings` WRITE;
/*!40000 ALTER TABLE `crew_cash_storage_buildings` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_cash_storage_buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_drug_inventory`
--

DROP TABLE IF EXISTS `crew_drug_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_drug_inventory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `goodType` varchar(50) NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `averagePurchasePrice` int(11) NOT NULL DEFAULT 0,
  `averageCondition` int(11) NOT NULL DEFAULT 100,
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crew_drug_inventory_crewId_goodType_key` (`crewId`,`goodType`),
  KEY `crew_drug_inventory_crewId_idx` (`crewId`),
  CONSTRAINT `crew_drug_inventory_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_drug_inventory`
--

LOCK TABLES `crew_drug_inventory` WRITE;
/*!40000 ALTER TABLE `crew_drug_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_drug_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_drug_storage_buildings`
--

DROP TABLE IF EXISTS `crew_drug_storage_buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_drug_storage_buildings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `style` enum('camping','rural','city','villa') NOT NULL DEFAULT 'camping',
  `level` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crew_drug_storage_buildings_crewId_key` (`crewId`),
  CONSTRAINT `crew_drug_storage_buildings_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_drug_storage_buildings`
--

LOCK TABLES `crew_drug_storage_buildings` WRITE;
/*!40000 ALTER TABLE `crew_drug_storage_buildings` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_drug_storage_buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_heist_attempts`
--

DROP TABLE IF EXISTS `crew_heist_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_heist_attempts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `heistId` varchar(50) NOT NULL,
  `success` tinyint(1) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `crew_heist_attempts_crewId_idx` (`crewId`),
  KEY `crew_heist_attempts_heistId_idx` (`heistId`),
  KEY `crew_heist_attempts_createdAt_idx` (`createdAt`),
  CONSTRAINT `crew_heist_attempts_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_heist_attempts`
--

LOCK TABLES `crew_heist_attempts` WRITE;
/*!40000 ALTER TABLE `crew_heist_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_heist_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_hq_buildings`
--

DROP TABLE IF EXISTS `crew_hq_buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_hq_buildings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `style` enum('camping','rural','city','villa') NOT NULL DEFAULT 'camping',
  `level` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crew_hq_buildings_crewId_key` (`crewId`),
  CONSTRAINT `crew_hq_buildings_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_hq_buildings`
--

LOCK TABLES `crew_hq_buildings` WRITE;
/*!40000 ALTER TABLE `crew_hq_buildings` DISABLE KEYS */;
INSERT INTO `crew_hq_buildings` VALUES (1,5,'camping',0,'2026-02-08 14:07:13.417','2026-02-08 14:07:13.417'),(2,6,'camping',0,'2026-02-08 15:19:56.419','2026-02-08 15:19:56.419');
/*!40000 ALTER TABLE `crew_hq_buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_join_requests`
--

DROP TABLE IF EXISTS `crew_join_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_join_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `playerId` int(11) NOT NULL,
  `status` varchar(20) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crew_join_requests_crewId_playerId_key` (`crewId`,`playerId`),
  KEY `crew_join_requests_crewId_idx` (`crewId`),
  KEY `crew_join_requests_playerId_idx` (`playerId`),
  KEY `crew_join_requests_status_idx` (`status`),
  CONSTRAINT `crew_join_requests_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `crew_join_requests_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_join_requests`
--

LOCK TABLES `crew_join_requests` WRITE;
/*!40000 ALTER TABLE `crew_join_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_join_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_members`
--

DROP TABLE IF EXISTS `crew_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_members` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `playerId` int(11) NOT NULL,
  `role` varchar(20) NOT NULL,
  `joinedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `trustScore` int(11) NOT NULL DEFAULT 50,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crew_members_crewId_playerId_key` (`crewId`,`playerId`),
  UNIQUE KEY `crew_members_playerId_key` (`playerId`),
  KEY `crew_members_playerId_idx` (`playerId`),
  KEY `crew_members_crewId_idx` (`crewId`),
  CONSTRAINT `crew_members_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `crew_members_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_members`
--

LOCK TABLES `crew_members` WRITE;
/*!40000 ALTER TABLE `crew_members` DISABLE KEYS */;
INSERT INTO `crew_members` VALUES (8,5,15,'leader','2026-02-08 14:07:13.405',50),(9,6,2,'leader','2026-02-08 15:19:56.412',50);
/*!40000 ALTER TABLE `crew_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_messages`
--

DROP TABLE IF EXISTS `crew_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `playerId` int(11) NOT NULL,
  `message` text NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `crew_messages_crewId_idx` (`crewId`),
  KEY `crew_messages_playerId_idx` (`playerId`),
  KEY `crew_messages_createdAt_idx` (`createdAt`),
  CONSTRAINT `crew_messages_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `crew_messages_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_messages`
--

LOCK TABLES `crew_messages` WRITE;
/*!40000 ALTER TABLE `crew_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_weapon_inventory`
--

DROP TABLE IF EXISTS `crew_weapon_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_weapon_inventory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `weaponId` varchar(50) NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 1,
  `averageCondition` int(11) NOT NULL DEFAULT 100,
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crew_weapon_inventory_crewId_weaponId_key` (`crewId`,`weaponId`),
  KEY `crew_weapon_inventory_crewId_idx` (`crewId`),
  CONSTRAINT `crew_weapon_inventory_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_weapon_inventory`
--

LOCK TABLES `crew_weapon_inventory` WRITE;
/*!40000 ALTER TABLE `crew_weapon_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_weapon_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crew_weapon_storage_buildings`
--

DROP TABLE IF EXISTS `crew_weapon_storage_buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crew_weapon_storage_buildings` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `crewId` int(11) NOT NULL,
  `style` enum('camping','rural','city','villa') NOT NULL DEFAULT 'camping',
  `level` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `crew_weapon_storage_buildings_crewId_key` (`crewId`),
  CONSTRAINT `crew_weapon_storage_buildings_crewId_fkey` FOREIGN KEY (`crewId`) REFERENCES `crews` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crew_weapon_storage_buildings`
--

LOCK TABLES `crew_weapon_storage_buildings` WRITE;
/*!40000 ALTER TABLE `crew_weapon_storage_buildings` DISABLE KEYS */;
/*!40000 ALTER TABLE `crew_weapon_storage_buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crews`
--

DROP TABLE IF EXISTS `crews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crews` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(50) NOT NULL,
  `bankBalance` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `crews_name_key` (`name`),
  KEY `crews_name_idx` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crews`
--

LOCK TABLES `crews` WRITE;
/*!40000 ALTER TABLE `crews` DISABLE KEYS */;
INSERT INTO `crews` VALUES (5,'test',0,'2026-02-08 14:07:13.372'),(6,'test2',0,'2026-02-08 15:19:56.388');
/*!40000 ALTER TABLE `crews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `crime_attempts`
--

DROP TABLE IF EXISTS `crime_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `crime_attempts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `crimeId` varchar(50) NOT NULL,
  `success` tinyint(1) NOT NULL,
  `reward` int(11) NOT NULL DEFAULT 0,
  `xpGained` int(11) NOT NULL DEFAULT 0,
  `jailed` tinyint(1) NOT NULL DEFAULT 0,
  `jailTime` int(11) NOT NULL DEFAULT 0,
  `vehicleId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `appealedAt` datetime(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `crime_attempts_playerId_idx` (`playerId`),
  KEY `crime_attempts_createdAt_idx` (`createdAt`),
  CONSTRAINT `crime_attempts_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=50 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `crime_attempts`
--

LOCK TABLES `crime_attempts` WRITE;
/*!40000 ALTER TABLE `crime_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `crime_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `friendships`
--

DROP TABLE IF EXISTS `friendships`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `friendships` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `requesterId` int(11) NOT NULL,
  `addresseeId` int(11) NOT NULL,
  `status` varchar(20) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `friendships_requesterId_addresseeId_key` (`requesterId`,`addresseeId`),
  KEY `friendships_addresseeId_idx` (`addresseeId`),
  KEY `friendships_requesterId_idx` (`requesterId`),
  KEY `friendships_status_idx` (`status`),
  CONSTRAINT `friendships_addresseeId_fkey` FOREIGN KEY (`addresseeId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `friendships_requesterId_fkey` FOREIGN KEY (`requesterId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `friendships`
--

LOCK TABLES `friendships` WRITE;
/*!40000 ALTER TABLE `friendships` DISABLE KEYS */;
/*!40000 ALTER TABLE `friendships` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `garage_upgrades`
--

DROP TABLE IF EXISTS `garage_upgrades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `garage_upgrades` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `garageId` int(11) NOT NULL,
  `upgradeLevel` int(11) NOT NULL DEFAULT 1,
  `capacityBonus` int(11) NOT NULL DEFAULT 5,
  `upgradeCost` int(11) NOT NULL,
  `upgradedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `garage_upgrades_garageId_idx` (`garageId`),
  CONSTRAINT `garage_upgrades_garageId_fkey` FOREIGN KEY (`garageId`) REFERENCES `garages` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `garage_upgrades`
--

LOCK TABLES `garage_upgrades` WRITE;
/*!40000 ALTER TABLE `garage_upgrades` DISABLE KEYS */;
/*!40000 ALTER TABLE `garage_upgrades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `garages`
--

DROP TABLE IF EXISTS `garages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `garages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `capacity` int(11) NOT NULL DEFAULT 5,
  `location` varchar(50) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `garages_playerId_location_key` (`playerId`,`location`),
  KEY `garages_playerId_idx` (`playerId`),
  CONSTRAINT `garages_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `garages`
--

LOCK TABLES `garages` WRITE;
/*!40000 ALTER TABLE `garages` DISABLE KEYS */;
INSERT INTO `garages` VALUES (1,4,5,'netherlands','2026-01-30 18:49:54.809'),(2,2,5,'switzerland','2026-01-30 20:58:39.413'),(3,1,5,'netherlands','2026-02-01 11:09:26.566'),(4,15,5,'netherlands','2026-02-03 17:58:52.755');
/*!40000 ALTER TABLE `garages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `goodType` varchar(50) NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `purchasePrice` int(11) NOT NULL DEFAULT 0 COMMENT 'Average purchase price per unit',
  `condition` int(11) NOT NULL DEFAULT 100,
  `purchasedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `inventory_playerId_goodType_key` (`playerId`,`goodType`),
  KEY `inventory_playerId_idx` (`playerId`),
  CONSTRAINT `inventory_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory`
--

LOCK TABLES `inventory` WRITE;
/*!40000 ALTER TABLE `inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_attempts`
--

DROP TABLE IF EXISTS `job_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_attempts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `jobId` varchar(50) NOT NULL,
  `earnings` int(11) NOT NULL,
  `xpGained` int(11) NOT NULL,
  `completedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `job_attempts_playerId_idx` (`playerId`),
  KEY `job_attempts_playerId_jobId_idx` (`playerId`,`jobId`),
  KEY `job_attempts_completedAt_idx` (`completedAt`),
  CONSTRAINT `job_attempts_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_attempts`
--

LOCK TABLES `job_attempts` WRITE;
/*!40000 ALTER TABLE `job_attempts` DISABLE KEYS */;
INSERT INTO `job_attempts` VALUES (1,2,'newspaper_delivery',51,5,'2026-01-30 06:53:17.148'),(2,2,'newspaper_delivery',56,5,'2026-01-30 07:57:48.957'),(3,2,'airline_pilot',5600,300,'2026-02-02 17:20:25.041'),(4,15,'newspaper_delivery',52,5,'2026-02-03 15:50:21.558'),(5,15,'dishwasher',137,12,'2026-02-03 17:58:36.553'),(6,2,'newspaper_delivery',82,5,'2026-02-07 15:08:19.793'),(7,15,'newspaper_delivery',58,5,'2026-02-08 06:53:56.688');
/*!40000 ALTER TABLE `job_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marina_upgrades`
--

DROP TABLE IF EXISTS `marina_upgrades`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marina_upgrades` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `marinaId` int(11) NOT NULL,
  `upgradeLevel` int(11) NOT NULL DEFAULT 1,
  `capacityBonus` int(11) NOT NULL DEFAULT 3,
  `upgradeCost` int(11) NOT NULL,
  `upgradedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `marina_upgrades_marinaId_idx` (`marinaId`),
  CONSTRAINT `marina_upgrades_marinaId_fkey` FOREIGN KEY (`marinaId`) REFERENCES `marinas` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marina_upgrades`
--

LOCK TABLES `marina_upgrades` WRITE;
/*!40000 ALTER TABLE `marina_upgrades` DISABLE KEYS */;
INSERT INTO `marina_upgrades` VALUES (1,2,1,3,75000,'2026-02-01 11:52:18.024'),(2,2,2,6,150000,'2026-02-01 11:52:30.621');
/*!40000 ALTER TABLE `marina_upgrades` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `marinas`
--

DROP TABLE IF EXISTS `marinas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marinas` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `capacity` int(11) NOT NULL DEFAULT 3,
  `location` varchar(50) NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `marinas_playerId_location_key` (`playerId`,`location`),
  KEY `marinas_playerId_idx` (`playerId`),
  CONSTRAINT `marinas_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `marinas`
--

LOCK TABLES `marinas` WRITE;
/*!40000 ALTER TABLE `marinas` DISABLE KEYS */;
INSERT INTO `marinas` VALUES (1,4,3,'netherlands','2026-01-30 18:49:54.828'),(2,2,3,'switzerland','2026-01-30 20:58:39.415'),(3,1,3,'netherlands','2026-02-01 11:09:26.563'),(4,15,3,'netherlands','2026-02-07 17:21:34.915');
/*!40000 ALTER TABLE `marinas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `npc_activity_logs`
--

DROP TABLE IF EXISTS `npc_activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `npc_activity_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `npcId` int(11) NOT NULL,
  `activityType` varchar(50) NOT NULL,
  `details` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`details`)),
  `success` tinyint(1) NOT NULL,
  `moneyEarned` int(11) NOT NULL DEFAULT 0,
  `xpEarned` int(11) NOT NULL DEFAULT 0,
  `timestamp` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `npc_activity_logs_npcId_timestamp_idx` (`npcId`,`timestamp`),
  CONSTRAINT `npc_activity_logs_npcId_fkey` FOREIGN KEY (`npcId`) REFERENCES `npc_players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `npc_activity_logs`
--

LOCK TABLES `npc_activity_logs` WRITE;
/*!40000 ALTER TABLE `npc_activity_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `npc_activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `npc_players`
--

DROP TABLE IF EXISTS `npc_players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `npc_players` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `npcType` enum('MATIG','GEMIDDELD','CONTINU') NOT NULL,
  `isActive` tinyint(1) NOT NULL DEFAULT 1,
  `lastActivityAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `totalCrimes` int(11) NOT NULL DEFAULT 0,
  `totalJobs` int(11) NOT NULL DEFAULT 0,
  `totalMoneyEarned` bigint(20) NOT NULL DEFAULT 0,
  `totalXpEarned` int(11) NOT NULL DEFAULT 0,
  `totalArrests` int(11) NOT NULL DEFAULT 0,
  `totalJailTime` int(11) NOT NULL DEFAULT 0,
  `crimesPerHour` double NOT NULL DEFAULT 0,
  `jobsPerHour` double NOT NULL DEFAULT 0,
  `simulatedOnlineHours` double NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  UNIQUE KEY `npc_players_playerId_key` (`playerId`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `npc_players`
--

LOCK TABLES `npc_players` WRITE;
/*!40000 ALTER TABLE `npc_players` DISABLE KEYS */;
INSERT INTO `npc_players` VALUES (1,22,'MATIG',1,'2026-02-09 04:49:33.622','2026-02-08 21:15:10.006',1,0,541,38,0,0,0.8133333333333335,0.006666666666666668,1.2499999999999998),(2,23,'GEMIDDELD',1,'2026-02-09 04:49:33.620','2026-02-08 21:15:10.077',2,0,774,60,0,0,1.653333333333334,0.01333333333333334,1.2499999999999998),(3,24,'CONTINU',1,'2026-02-09 04:49:33.581','2026-02-08 21:15:10.147',14,2,6608,365,0,0,11.88,1.8,1.2499999999999998);
/*!40000 ALTER TABLE `npc_players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `player_devices`
--

DROP TABLE IF EXISTS `player_devices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `player_devices` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `deviceToken` varchar(500) NOT NULL,
  `deviceType` enum('android','ios','web') NOT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `player_devices_deviceToken_key` (`deviceToken`(255)),
  KEY `player_devices_playerId_fkey` (`playerId`),
  CONSTRAINT `player_devices_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `player_devices`
--

LOCK TABLES `player_devices` WRITE;
/*!40000 ALTER TABLE `player_devices` DISABLE KEYS */;
INSERT INTO `player_devices` VALUES (11,15,'dZtJfr0mTH2SLOzgs1RBu7:APA91bFp4lzBfRe3yv5FlkPODRinWNwCFBOW204YEsHAFFkcuRhnvccibSVIIq8mhmc0mJk5Z_iGgK0LNBJ6d3Wn2RL9VIj7CZXdmA9jf2Ka5I0yOTz_ARw','android','2026-02-08 09:24:08.560','2026-02-08 09:24:08.560'),(12,2,'dtrN91gQ1dGfIQsOG3VsRn:APA91bGBuHgv5Ryst4uvtSz7p89HV4HOlK55w6RyD4HZ3yzFM8Weo3iTdt0z_O2hQf7g6go3GVHM1o9vg7zwIA109Z9XMn9vgnZk-Y2u2e6Yl5Y9YiSPa0Y','web','2026-02-08 09:24:36.932','2026-02-08 09:24:36.932');
/*!40000 ALTER TABLE `player_devices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `players`
--

DROP TABLE IF EXISTS `players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `players` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `passwordHash` varchar(255) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `emailVerified` tinyint(1) NOT NULL DEFAULT 0,
  `money` int(11) NOT NULL DEFAULT 0,
  `health` int(11) NOT NULL DEFAULT 100,
  `hunger` double NOT NULL DEFAULT 100,
  `thirst` double NOT NULL DEFAULT 100,
  `rank` int(11) NOT NULL DEFAULT 1,
  `xp` int(11) NOT NULL DEFAULT 0,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `updatedAt` datetime(3) NOT NULL,
  `lastTickAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `currentCountry` varchar(50) NOT NULL DEFAULT 'netherlands',
  `avatar` varchar(100) DEFAULT 'default_1',
  `isVip` tinyint(1) NOT NULL DEFAULT 0,
  `vipExpiresAt` datetime(3) DEFAULT NULL,
  `lastAvatarChange` datetime(3) DEFAULT NULL,
  `lastUsernameChange` datetime(3) DEFAULT NULL,
  `allowMessages` tinyint(1) NOT NULL DEFAULT 1,
  `reputation` int(11) NOT NULL DEFAULT 0,
  `fbiHeat` int(11) NOT NULL DEFAULT 0,
  `wantedLevel` int(11) NOT NULL DEFAULT 0,
  `jailRelease` datetime(3) DEFAULT NULL,
  `lastHospitalVisit` datetime(3) DEFAULT NULL,
  `intensiveCareUntil` datetime(3) DEFAULT NULL,
  `verificationToken` varchar(255) DEFAULT NULL,
  `verificationTokenExpiry` datetime(3) DEFAULT NULL,
  `resetPasswordToken` varchar(255) DEFAULT NULL,
  `resetPasswordTokenExpiry` datetime(3) DEFAULT NULL,
  `banReason` text DEFAULT NULL,
  `bannedUntil` datetime(3) DEFAULT NULL,
  `isBanned` tinyint(1) NOT NULL DEFAULT 0,
  `notifyFriendRequest` tinyint(1) NOT NULL DEFAULT 1,
  `notifyFriendAccepted` tinyint(1) NOT NULL DEFAULT 1,
  `emailFriendRequest` tinyint(1) NOT NULL DEFAULT 1,
  `emailFriendAccepted` tinyint(1) NOT NULL DEFAULT 1,
  `preferredLanguage` varchar(5) NOT NULL DEFAULT 'nl',
  PRIMARY KEY (`id`),
  UNIQUE KEY `players_username_key` (`username`),
  KEY `players_username_idx` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `players`
--

LOCK TABLES `players` WRITE;
/*!40000 ALTER TABLE `players` DISABLE KEYS */;
/*!40000 ALTER TABLE `players` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `properties`
--

DROP TABLE IF EXISTS `properties`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `properties` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `propertyType` varchar(50) NOT NULL,
  `purchasePrice` int(11) NOT NULL,
  `upgradeLevel` int(11) NOT NULL DEFAULT 1,
  `lastIncomeAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `purchasedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `countryId` varchar(50) NOT NULL,
  `propertyId` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `properties_propertyId_key` (`propertyId`),
  KEY `properties_playerId_idx` (`playerId`),
  KEY `properties_propertyType_idx` (`propertyType`),
  KEY `properties_countryId_idx` (`countryId`),
  CONSTRAINT `properties_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `properties`
--

LOCK TABLES `properties` WRITE;
/*!40000 ALTER TABLE `properties` DISABLE KEYS */;
/*!40000 ALTER TABLE `properties` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicle_inventory`
--

DROP TABLE IF EXISTS `vehicle_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vehicle_inventory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `vehicleType` varchar(20) NOT NULL,
  `vehicleId` varchar(100) NOT NULL,
  `stolenInCountry` varchar(50) NOT NULL,
  `currentLocation` varchar(50) NOT NULL,
  `condition` int(11) NOT NULL DEFAULT 100,
  `fuelLevel` int(11) NOT NULL DEFAULT 100,
  `marketListing` tinyint(1) NOT NULL DEFAULT 0,
  `askingPrice` int(11) DEFAULT NULL,
  `stolenAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `transportStatus` varchar(20) DEFAULT NULL COMMENT 'NULL=available, shipping, flying, driving',
  `transportArrivalTime` datetime(3) DEFAULT NULL,
  `transportDestination` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `vehicle_inventory_playerId_idx` (`playerId`),
  KEY `vehicle_inventory_vehicleType_idx` (`vehicleType`),
  KEY `vehicle_inventory_currentLocation_idx` (`currentLocation`),
  KEY `vehicle_inventory_marketListing_idx` (`marketListing`),
  CONSTRAINT `vehicle_inventory_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicle_inventory`
--

LOCK TABLES `vehicle_inventory` WRITE;
/*!40000 ALTER TABLE `vehicle_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicle_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vehicles`
--

DROP TABLE IF EXISTS `vehicles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vehicles` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `vehicleType` varchar(50) NOT NULL,
  `fuel` int(11) NOT NULL DEFAULT 100,
  `maxFuel` int(11) NOT NULL DEFAULT 100,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  `isBroken` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `vehicles_playerId_idx` (`playerId`),
  CONSTRAINT `vehicles_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vehicles`
--

LOCK TABLES `vehicles` WRITE;
/*!40000 ALTER TABLE `vehicles` DISABLE KEYS */;
/*!40000 ALTER TABLE `vehicles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `weapon_inventory`
--

DROP TABLE IF EXISTS `weapon_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `weapon_inventory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `playerId` int(11) NOT NULL,
  `weaponId` varchar(50) NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 1,
  `condition` int(11) NOT NULL DEFAULT 100,
  `purchasedAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  UNIQUE KEY `weapon_inventory_playerId_weaponId_key` (`playerId`,`weaponId`),
  KEY `weapon_inventory_playerId_idx` (`playerId`),
  CONSTRAINT `weapon_inventory_playerId_fkey` FOREIGN KEY (`playerId`) REFERENCES `players` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `weapon_inventory`
--

LOCK TABLES `weapon_inventory` WRITE;
/*!40000 ALTER TABLE `weapon_inventory` DISABLE KEYS */;
INSERT INTO `weapon_inventory` VALUES (1,2,'knife',1,100,'2026-01-29 12:33:53.000'),(2,2,'pistol',1,88,'2026-01-29 12:33:53.000');
/*!40000 ALTER TABLE `weapon_inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `world_events`
--

DROP TABLE IF EXISTS `world_events`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `world_events` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `eventKey` varchar(100) NOT NULL,
  `params` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin NOT NULL CHECK (json_valid(`params`)),
  `playerId` int(11) DEFAULT NULL,
  `createdAt` datetime(3) NOT NULL DEFAULT current_timestamp(3),
  PRIMARY KEY (`id`),
  KEY `world_events_createdAt_idx` (`createdAt`)
) ENGINE=InnoDB AUTO_INCREMENT=94 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `world_events`
--

LOCK TABLES `world_events` WRITE;
/*!40000 ALTER TABLE `world_events` DISABLE KEYS */;
/*!40000 ALTER TABLE `world_events` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-10  6:23:59
